.pydevproject
.project
.settings
*~
.*.sw[po]
.sw[po]
*.dat
*.pyc
*.pyo
build
_build
*.prof
siteconf.py
doc/hedge-notes.pdf
*.vtk
*.silo
*.session
dump.py
*.orig
/Makefile
*.png
tags
*.vtu
*.pvtu
*.pvd
doc/user-reference
doc/dev-reference
*.poly
*.node
*.bak
*.pdf
*.tif
*.mpeg
*-journal
visitlog.py
*.log
.figleaf
dist
*.egg*
MANIFEST
*.patch
tmp
temp*
*.so
*.pyd
setuptools.pth
distribute*tar.gz
*.sess

.cache
