Python 3 Titan X:
  script:
  - py_version=3
  - EXTRA_INSTALL="numpy mako"
  - echo "CUDADRV_LIB_DIR = ['/usr/lib/x86_64-linux-gnu/nvidia/current']" > siteconf.py
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
  - "export LD_LIBRARY_PATH=/usr/local/cuda/lib64:$LD_LIBRARY_PATH"
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - nvidia-titan-x
  except:
  - tags

Python 3 Titan V:
  script:
  - py_version=3
  - EXTRA_INSTALL="numpy mako"
  - echo "CUDADRV_LIB_DIR = ['/usr/lib/x86_64-linux-gnu/nvidia/current']" > siteconf.py
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
  - "export LD_LIBRARY_PATH=/usr/local/cuda/lib64:$LD_LIBRARY_PATH"
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - nvidia-titan-v
  except:
  - tags

Python 3 K40:
  script:
  - py_version=3
  - EXTRA_INSTALL="numpy mako"
  - echo "CUDADRV_LIB_DIR = ['/usr/lib/x86_64-linux-gnu/nvidia/current']" > siteconf.py
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
  - "export LD_LIBRARY_PATH=/usr/local/cuda/lib64:$LD_LIBRARY_PATH"
  - ". ./build-and-test-py-project.sh"

  # https://github.com/illinois-scicomp/machine-shop-maintenance/issues/7
  allow_failure: true

  tags:
  - python3
  - nvidia-k40
  except:
  - tags

Documentation:
  script: |
    EXTRA_INSTALL="numpy mako"
    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
    . ./ci-support.sh
     build_py_project_in_venv
     build_docs --no-check
     maybe_upload_docs
  tags:
  - python3
  - linux
