.pydevproject
.project
.settings
*~
.*.sw[po]
*.dat
*.pyc
build
*.prof
siteconf.py
doc/hedge-notes.pdf
*.vtk
*.silo
*.session
dump.py
*.orig
/Makefile
*.png
tags
*.vtu
*.pvtu
*.pvd
doc/user-reference
doc/dev-reference
*.poly
*.node
*.bak
*.pdf
*.tif
*.mpeg
*-journal
visitlog.py
*.log
.figleaf
dist
*.egg*
MANIFEST
*.patch
*.LOCAL.[0-9]*
*.REMOTE.[0-9]*
*.BASE.[0-9]*
tmp
temp*
