include src/cpp/*.hpp
include src/cpp/*.cpp
include src/cuda/*.hpp
include src/wrapper/*.hpp
include src/wrapper/*.cpp
include test/*.py
include examples/*.py
include examples/MORE*
include doc/source/*.rst
include doc/Makefile
include doc/source/conf.py

include distribute_setup.py
include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt
